<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>MarmelAds - Le programme de fidélité à la visite !</title>
	<meta name="author" content="Guirec Le Lous">
	<!-- Date: 2011-08-23 -->
	<link rel="stylesheet" href="/style/bootstrap.css">
	<link rel="stylesheet" href="/style/main.css">
	<script type="text/javascript" src="/javascripts/cookies.js"></script>
  <script type="text/javascript" charset="utf-8">
    function ouvre(){
        if( !JMcookie.read("subscribed") ) 
        {
          document.getElementById('newsletter').style.display = 'block';
        }
        JMcookie.create('subscribed','1',365);
      }
  </script>
</head>
<body onload="ouvre()">
  
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <h3><a href="#">MarmelAds</a></h3>
        <ul>
          <li class="active"><a href="#">Présentation</a></li>
        </ul>
        <ul class="nav secondary-nav">
          <li class="btn primary"><a href="#" onclick="document.getElementById('newsletter').style.display = 'block';">S'inscrire</a></li>
        </ul>
      </div>
    </div> <!-- /fill -->
  </div>

  <%= yield %>

  <div class="modal-backdrop" id="newsletter" style="display: none;">
    <!-- Modal -->
    <div class="modal" style="top:70%!important">
    
      <!-- Begin MailChimp Signup Form -->
      <form action="http://marmel-ads.us2.list-manage1.com/subscribe/post?u=348e7c069161090ec045515b1&amp;id=9f0889760e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-stacked" target="_blank" style="padding:0!important; margin: 0!important;">
    	
      	<div class="modal-header">
          <h3>Inscrivez-vous à la beta :</h3>
          <a href="#" class="close" onclick="document.getElementById('newsletter').style.display = 'none'">×</a>
        </div>
        <div class="modal-body">
          <div class="mc-field-group">
          	<label for="mce-EMAIL">Adresse email :
            </label>
          	<input type="text" value="" name="EMAIL" class="email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
          	<label for="mce-FNAME">Prénom : </label>
          	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
          	<label for="mce-LNAME">Nom : </label>
          	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
          </div>
        	<div id="mce-responses" class="clear">
        		<div class="response" id="mce-error-response" style="display:none"></div>
        		<div class="response" id="mce-success-response" style="display:none"></div>
        	</div>
        </div>
        <div class="modal-footer">
          	<input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="btn primary" onclick="document.getElementById('newsletter').style.display = 'none';" style="color:white; text-transform: uppercase;">
        </div>	
      </form>

      <!--End mc_embed_signup-->
    
    </div>
  </div>

</body>
</html>
